.env
/home/hp/Documents/week 5/precision-RAG-prompt-tuning/prompt_generation/file.zip
/home/hp/Documents/week 5/precision-RAG-prompt-tuning/prompt_generation/10 Academy Cohort A - Weekly Challenge Week - 6.pdf
precision-RAG-prompt-tuning/prompt_generation/10 Academy Cohort A - Weekly Challenge Week - 6.pdf
precision-RAG-prompt-tuning/prompt_generation/file.zip
